Homework 1

In [13]:
import pandas as pd 
import numpy as np

data = {
    'First Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)


df.rename(columns={'First Name':'first_name', 'Age':'age'}, inplace=True)
print(df)

print(df.head(3))

mean_age = df['age'].mean()
print("Mean age:",mean_age)

print(df[['first_name','City']])

df['Salary'] = np.random.randint(100,1000,size=len(df))
print(df)


print(df.describe())

  first_name  age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
3      David   40        Chicago
  first_name  age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles
Mean age: 32.5
  first_name           City
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago
  first_name  age           City  Salary
0      Alice   25       New York     702
1        Bob   30  San Francisco     308
2    Charlie   35    Los Angeles     964
3      David   40        Chicago     450
             age      Salary
count   4.000000    4.000000
mean   32.500000  606.000000
std     6.454972  288.975201
min    25.000000  308.000000
25%    28.750000  414.500000
50%    32.500000  576.000000
75%    36.250000  767.500000
max    40.000000  964.000000

Homework 2

In [17]:
data = {
    'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
    'Sales': [5000, 6000, 7500, 8000],
    'Expenses': [3000, 3500, 4000, 4500]
}

sales_and_expenses = pd.DataFrame(data)
print(sales_and_expenses)

max_sales = sales_and_expenses['Sales'].max()
max_expenses = sales_and_expenses['Expenses'].max()

print('Max sales:',max_sales)
print('Max expenses:',max_expenses)

min_sales = sales_and_expenses['Sales'].min()
min_expenses = sales_and_expenses['Expenses'].min()

print('Min sales:',min_sales)
print('Min expenses:',min_expenses)

avg_sales = sales_and_expenses['Sales'].mean()
avg_expenses = sales_and_expenses['Expenses'].mean()

print('Mean sales:',avg_sales)
print('Mean expenses:',avg_expenses)

  Month  Sales  Expenses
0   Jan   5000      3000
1   Feb   6000      3500
2   Mar   7500      4000
3   Apr   8000      4500
Max sales: 8000
Max expenses: 4500
Min sales: 5000
Min expenses: 3000
Mean sales: 6625.0
Mean expenses: 3750.0

Homework 3

In [20]:
data = {
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January': [1200, 200, 300, 150],
    'February': [1300, 220, 320, 160],
    'March': [1400, 240, 330, 170],
    'April': [1500, 250, 350, 180]
}

expenses = pd.DataFrame(data)

expenses = expenses.set_index('Category')

max_expense = expenses.max(axis=1)
print('Maximum expense for each category')
print(max_expense)
print()

min_expense = expenses.min(axis=1)
print('Minimum expense for each category')
print(min_expense)
print()

avg_expense = expenses.mean(axis=1)
print('Average expense for each category')
print(avg_expense)
print()

Maximum expense for each category
Category
Rent             1500
Utilities         250
Groceries         350
Entertainment     180
dtype: int64

Minimum expense for each category
Category
Rent             1200
Utilities         200
Groceries         300
Entertainment     150
dtype: int64

Average expense for each category
Category
Rent             1350.0
Utilities         227.5
Groceries         325.0
Entertainment     165.0
dtype: float64