1. Create and Access List Elements

In [1]:
fruits = ["apple","banana", "orange","strawberry","pear" ]
print(fruits[2])

orange

2. Concatenate Two Lists

In [2]:
list1 = [1,2,3]
list2 = [4,5,6]

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

3. Extract Elements from a List

In [6]:
num = [1,2,3,4,5,6,7,8,9,10,11]
first = num[0]
last = num[-1]
middle = num[len(num)//2]

new = [first,middle,last]
print(new)

[1, 6, 11]

4. Convert List to Tuple

In [9]:
movies = ["Inception", "Interstellar", "The Dark Knight", "Tenet", "Dune"]

tuple_movies = tuple(movies)

print(tuple_movies)

('Inception', 'Interstellar', 'The Dark Knight', 'Tenet', 'Dune')

5. Check Element in a List

In [10]:
cities = ["London", "New York", "Paris", "Tokyo", "Berlin"]

if "Paris" in cities:
    print("Yes")
else:
    print("No")

Yes

6. Duplicate a List Without Using Loops

In [11]:
numbers = [1,2,3,4,5]
dup = numbers*2
print(dup)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

7. Swap First and Last Elements of a List

In [12]:
numbers = [1,2,3,4,5]
numbers[0],numbers[-1]=numbers[-1],numbers[0]

print(numbers)

[5, 2, 3, 4, 1]

8. Slice a Tuple

In [13]:
numbers = (1,2,3,4,5,6,7,8,9,10)
print(numbers[3:7])

(4, 5, 6, 7)

9. Count Occurrences in a List

In [14]:
colors = ["red","blue","green","blue","black","brown", "blue"]
print(colors.count("blue"))

3

10. Find the Index of an Element in a Tuple

In [15]:
animals = ("lion","cat","dog","horse")
print(animals.index("lion"))

0

11. Merge Two Tuples

In [16]:
num1 = (1,2,3)
num2 = (4,5,6)
merge = num1+num2
print(merge)

(1, 2, 3, 4, 5, 6)

12. Find the Length of a List and Tuple

In [18]:
l = [1,2,3,4,5]
t = (1,2,3,4,5,6,7)
print("List:",len(l))
print("Tuple:",len(t))

List: 5
Tuple: 7

13. Convert Tuple to List

In [19]:
t = (1,2,3,4,5,6,7)
l = list(t)
print(l)

[1, 2, 3, 4, 5, 6, 7]

14. Find Maximum and Minimum in a Tuple

In [20]:
t = (1,2,3,4,5,6,7)
maximum = max(t)
minimum = min(t)

print("Max:",maximum)
print("Min:",minimum)

Max: 7
Min: 1

15. Reverse a Tuple

In [21]:
t = ("word","hello","world","apple")
print(tuple(reversed(t)))
print(t[::-1])

('apple', 'world', 'hello', 'word')
('apple', 'world', 'hello', 'word')