In [24]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Asus\Downloads\tackoverflow_qa.csv')
df.head()

before_2014 = df[df['creationdate']<'2014-01-01']
print(before_2014)

high_score = df[df['score']>50]
print(high_score)

score_50_100 = df[(df['score']>50) & (df['score']>100)]
print(score_50_100)

answered_by_scott = df[df['ans_name'] == 'Scott Boston']
print(answered_by_scott)

users = ['Scott Boston', 'unutbu', 'jezrael', 'DSM', 'John Doe']
answeredby5 = df[df['ans_name'].isin(users)]
print(answeredby5)

cond6 = (
    (df['creationdate']>= '2014-03-01') &
    (df['creationdate']<= '2014-10-31') &
    (df['ans_name']== 'unutbu') &
    (df['score']<5)
)

results6 = df[cond6]

cond7 = ((df['score']>=5) & (df['score']<=10)) | (df['viewcount']>10000)
result7 = df[cond7]
print(result7)

not_scott = df[df['ans_name'] != 'Scott Boston']
print(not_scott)

            id         creationdate  score  viewcount  \
0       332289  2008-12-01 21:24:44   3184    5962784
1      2051744  2010-01-12 19:31:47    420     587728
2      2225995  2010-02-09 00:51:38     51      59922
3      5486226  2011-03-30 12:26:50      7       6393
4      5515021  2011-04-01 14:50:44     10      13744
...        ...                  ...    ...        ...
4597  20788932  2013-12-26 17:47:41      0       1928
4598  20845213  2013-12-30 18:24:25    731     771804
4604  20789976  2013-12-26 19:14:54      1        916
4608  20819702  2013-12-28 21:41:31      5       6792
4757  17600430  2013-07-11 18:08:12      2       1306

                                                  title  answercount  \
0     How do I change the size of figures drawn with...           14
1                         How to invert the x or y axis           10
2                  How can I create stacked line graph?            4
3                              Rolling median in python            5
4          Compute a compounded return series in Python            3
...                                                 ...          ...
4597  Out of memory when DataFrame.resample() is cal...            1
4598  How to avoid pandas creating an index in a sav...            6
4604  Python/Pandas DataFrame 1st line issue with da...            2
4608                 Hourly frequency count with Python            3
4757          Parsing a non regular text file in pandas            2

      commentcount  favoritecount       quest_name  quest_rep  \
0                1            0.0        tatwright    37837.0
1                3            0.0          DarkAnt     4211.0
2                0            0.0  David Underhill    15936.0
3                4            0.0          yueerhu      175.0
4                6            0.0   Jason Strimpel    14916.0
...            ...            ...              ...        ...
4597             4            NaN      Christopher      633.0
4598             3            0.0           Alexis     8681.0
4604             1            NaN       BeaveJones       11.0
4608             4            0.0    pietrovismara     6132.0
4757             0            NaN           deltap     4206.0

             ans_name   ans_rep
0                 NaN       NaN
1             Demitri   13369.0
2                doug   69290.0
3     Mike Pennington   42288.0
4     Mike Pennington   42288.0
...               ...       ...
4597             Jeff  126372.0
4598              NaN       NaN
4604             alko   46594.0
4608      Andy Hayden  364041.0
4757              NaN       NaN

[3805 rows x 12 columns]
            id         creationdate  score  viewcount  \
0       332289  2008-12-01 21:24:44   3184    5962784
1      2051744  2010-01-12 19:31:47    420     587728
2      2225995  2010-02-09 00:51:38     51      59922
7      6541123  2011-06-30 21:09:11    550     832218
12     7837722  2011-10-20 14:46:14    401     658113
...        ...                  ...    ...        ...
9264  26053849  2014-09-26 07:04:13     94     161773
9343  26646191  2014-10-30 06:10:51    103     228729
9369  26640145  2014-10-29 20:34:16     71     174274
9373  27060098  2014-11-21 11:17:27    126     402220
9414  27673231  2014-12-28 02:22:27    360     348337

                                                  title  answercount  \
0     How do I change the size of figures drawn with...           14
1                         How to invert the x or y axis           10
2                  How can I create stacked line graph?            4
7       Improve subplot size/spacing with many subplots            9
12    What is the most efficient way to loop through...           13
...                                                 ...          ...
9264  Counting non zero values in each column of a D...            5
9343                      Pandas groupby month and year            6
9369  How do I get the name of the rows from the ind...            6
9373  Replacing few values in a pandas dataframe col...            8
9414  why should I make a copy of a data frame in pa...            8

      commentcount  favoritecount              quest_name  quest_rep  \
0                1            0.0               tatwright    37837.0
1                3            0.0                 DarkAnt     4211.0
2                0            0.0         David Underhill    15936.0
7                1            0.0              mcstrother     7007.0
12               6            0.0                  Muppet     5837.0
...            ...            ...                     ...        ...
9264             0            0.0            Harsh Singal      949.0
9343             0            0.0                darkpool    13981.0
9369             0            0.0                 linamnt     1325.0
9373             0            0.0              Pulkit Jha     1709.0
9414             1            0.0  Elizabeth Susan Joseph     6335.0

           ans_name   ans_rep
0               NaN       NaN
1           Demitri   13369.0
2              doug   69290.0
7       Joe Kington  277446.0
12    Nick Crawford    5106.0
...             ...       ...
9264            NaN       NaN
9343    Andy Hayden  364041.0
9369    Adam Hughes   15151.0
9373     Alex Riley  171264.0
9414          cgold    4125.0

[702 rows x 12 columns]
            id         creationdate  score  viewcount  \
0       332289  2008-12-01 21:24:44   3184    5962784
1      2051744  2010-01-12 19:31:47    420     587728
7      6541123  2011-06-30 21:09:11    550     832218
12     7837722  2011-10-20 14:46:14    401     658113
13     7908636  2011-10-26 20:38:14    244     261054
...        ...                  ...    ...        ...
9177  25646200  2014-09-03 13:53:18    200     448982
9240  25962114  2014-09-21 17:46:43    315     513946
9343  26646191  2014-10-30 06:10:51    103     228729
9373  27060098  2014-11-21 11:17:27    126     402220
9414  27673231  2014-12-28 02:22:27    360     348337

                                                  title  answercount  \
0     How do I change the size of figures drawn with...           14
1                         How to invert the x or y axis           10
7       Improve subplot size/spacing with many subplots            9
12    What is the most efficient way to loop through...           13
13            How to add hovering annotations to a plot           13
...                                                 ...          ...
9177    Python: Convert timedelta to int in a dataframe            6
9240        How do I read a large csv file with pandas?           16
9343                      Pandas groupby month and year            6
9373  Replacing few values in a pandas dataframe col...            8
9414  why should I make a copy of a data frame in pa...            8

      commentcount  favoritecount              quest_name  quest_rep  \
0                1            0.0               tatwright    37837.0
1                3            0.0                 DarkAnt     4211.0
7                1            0.0              mcstrother     7007.0
12               6            0.0                  Muppet     5837.0
13               1            0.0                  jdmcbr     6064.0
...            ...            ...                     ...        ...
9177             1            0.0             Asaf Hanish     2019.0
9240             3            0.0        Rajkumar Kumawat     3667.0
9343             0            0.0                darkpool    13981.0
9373             0            0.0              Pulkit Jha     1709.0
9414             1            0.0  Elizabeth Susan Joseph     6335.0

                     ans_name   ans_rep
0                         NaN       NaN
1                     Demitri   13369.0
7                 Joe Kington  277446.0
12              Nick Crawford    5106.0
13    ImportanceOfBeingErnest  326212.0
...                       ...       ...
9177                      NaN       NaN
9240                      NaN       NaN
9343              Andy Hayden  364041.0
9373               Alex Riley  171264.0
9414                    cgold    4125.0

[407 rows x 12 columns]
            id         creationdate  score  viewcount  \
5392  24290297  2014-06-18 16:06:35     90      95248

                                                  title  answercount  \
5392  Pandas dataframe with multiindex column - merg...            6

      commentcount  favoritecount quest_name  quest_rep      ans_name  \
5392             1            0.0    Zhubarb    11581.0  Scott Boston

       ans_rep
5392  149017.0
            id         creationdate  score  viewcount  \
55     9949427  2012-03-30 19:38:23     15      21221
174   11265116  2012-06-29 15:58:11      1       6121
206   11492215  2012-07-15 13:14:38      3       2776
252   11836286  2012-08-06 21:33:08      5      10646
278   12021730  2012-08-18 19:45:34     51      48845
...        ...                  ...    ...        ...
9413  27321489  2014-12-05 17:28:37      2         82
9432  27178899  2014-11-27 21:31:58      0       1580
9438  27275087  2014-12-03 15:08:42      1       2835
9458  27627397  2014-12-23 20:15:38      0        611
9460  27673337  2014-12-28 02:53:36      3       2125

                                                  title  answercount  \
55    How to change the dtype of certain columns of ...            3
174   Most efficient way to calculate the mean of a ...            2
206   How to do a groupby on an empty set of columns...            2
252   Pulling variable names when using pandas and s...            2
278   Can pandas handle variable-length whitespace a...            3
...                                                 ...          ...
9413       Trouble accessing column in pandas dataframe            1
9432                      How to find strings in pandas            1
9438  Using python/pandas to search dataframe rows c...            1
9458     drop_duplicates() in Pandas Based on Condition            1
9460  Extract indices of cells meeting criteria from...            2

      commentcount  favoritecount   quest_name  quest_rep ans_name   ans_rep
55               0            0.0     mathtick     6600.0   unutbu  852025.0
174              0            0.0        Einar     4759.0      DSM  345177.0
206              0            NaN     joelhoro      900.0      DSM  345177.0
252              0            0.0  user1074057     1802.0      DSM  345177.0
278              6            0.0         zach    29845.0      DSM  345177.0
...            ...            ...          ...        ...      ...       ...
9413             0            NaN      benawad      685.0      DSM  345177.0
9432             0            NaN    Blue Moon     4471.0   unutbu  852025.0
9438             1            NaN        zachn       55.0      DSM  345177.0
9458             0            NaN          A S        3.0   unutbu  852025.0
9460             0            0.0    nakaakist      318.0      DSM  345177.0

[680 rows x 12 columns]
            id         creationdate  score  viewcount  \
0       332289  2008-12-01 21:24:44   3184    5962784
1      2051744  2010-01-12 19:31:47    420     587728
2      2225995  2010-02-09 00:51:38     51      59922
3      5486226  2011-03-30 12:26:50      7       6393
4      5515021  2011-04-01 14:50:44     10      13744
...        ...                  ...    ...        ...
9401  26921943  2014-11-14 02:27:53     28      59154
9404  27524169  2014-12-17 11:05:47      5      15767
9406  27020707  2014-11-19 15:32:13      6      20062
9414  27673231  2014-12-28 02:22:27    360     348337
9427  27718650  2014-12-31 08:57:47     15      17818

                                                  title  answercount  \
0     How do I change the size of figures drawn with...           14
1                         How to invert the x or y axis           10
2                  How can I create stacked line graph?            4
3                              Rolling median in python            5
4          Compute a compounded return series in Python            3
...                                                 ...          ...
9401  Intersection of two pandas dataframes based on...            2
9404          Set pandas datetime index one day forward            1
9406  Pandas: get second character of the string, fr...            2
9414  why should I make a copy of a data frame in pa...            8
9427  sql select group by a having count(1) > 1 equi...            2

      commentcount  favoritecount              quest_name  quest_rep  \
0                1            0.0               tatwright    37837.0
1                3            0.0                 DarkAnt     4211.0
2                0            0.0         David Underhill    15936.0
3                4            0.0                 yueerhu      175.0
4                6            0.0          Jason Strimpel    14916.0
...            ...            ...                     ...        ...
9401             0            0.0                     Bib      425.0
9404             5            0.0               Uninvited      129.0
9406             0            NaN                  jjjayn      555.0
9414             1            0.0  Elizabeth Susan Joseph     6335.0
9427             0            0.0                  tangkk      153.0

             ans_name   ans_rep
0                 NaN       NaN
1             Demitri   13369.0
2                doug   69290.0
3     Mike Pennington   42288.0
4     Mike Pennington   42288.0
...               ...       ...
9401       user308827   21059.0
9404            joris  134754.0
9406       Alex Riley  171264.0
9414            cgold    4125.0
9427       Alex Riley  171264.0

[2949 rows x 12 columns]
            id         creationdate  score  viewcount  \
0       332289  2008-12-01 21:24:44   3184    5962784
1      2051744  2010-01-12 19:31:47    420     587728
2      2225995  2010-02-09 00:51:38     51      59922
3      5486226  2011-03-30 12:26:50      7       6393
4      5515021  2011-04-01 14:50:44     10      13744
...        ...                  ...    ...        ...
9458  27627397  2014-12-23 20:15:38      0        611
9459  27693117  2014-12-29 17:13:03      0       2893
9460  27673337  2014-12-28 02:53:36      3       2125
9461  27712500  2014-12-30 21:01:45      2        266
9462  27712482  2014-12-30 20:59:58      0        183

                                                  title  answercount  \
0     How do I change the size of figures drawn with...           14
1                         How to invert the x or y axis           10
2                  How can I create stacked line graph?            4
3                              Rolling median in python            5
4          Compute a compounded return series in Python            3
...                                                 ...          ...
9458     drop_duplicates() in Pandas Based on Condition            1
9459  Replace a whole dataframe with another (overwr...            2
9460  Extract indices of cells meeting criteria from...            2
9461  Pandas DataFrame Assignment Issue - Possible Bug?            1
9462        Python- Pandas - date time index type error            0

      commentcount  favoritecount            quest_name  quest_rep  \
0                1            0.0             tatwright    37837.0
1                3            0.0               DarkAnt     4211.0
2                0            0.0       David Underhill    15936.0
3                4            0.0               yueerhu      175.0
4                6            0.0        Jason Strimpel    14916.0
...            ...            ...                   ...        ...
9458             0            NaN                   A S        3.0
9459             6            NaN           Dance Party     3529.0
9460             0            0.0             nakaakist      318.0
9461             6            NaN                   Jim       31.0
9462             3            NaN  Hariprasad Manoharan        1.0

             ans_name   ans_rep
0                 NaN       NaN
1             Demitri   13369.0
2                doug   69290.0
3     Mike Pennington   42288.0
4     Mike Pennington   42288.0
...               ...       ...
9458           unutbu  852025.0
9459          Jubbles    4490.0
9460              DSM  345177.0
9461              Jim      31.0
9462              NaN       NaN

[9462 rows x 12 columns]

TITANIC

In [ ]:
df = pd.read_csv(r"C:\Users\Asus\Downloads\titanic.csv")
df.head()

female_20_30 = df[
    (df['Sex']=='female') &
    (df['Pclass'] == 1) &
    (df['Age'] >= 20) &
    (df['Age'] <= 30)
]
print(female_20_30)

fare_100  = df[df['Fare'] > 100]
print(fare_100)

survived_alone = df[
    (df['Survived'] == 1) &
    (df['SibSp'] == 0) &
    (df['Parch'] == 0)
]
print(survived_alone)

embarked = df[(df['Embarked'] == 'C') & (df['Fare'] > 50)]
print(embarked)

with_family = df[(df['SibSp']>0) & (df['Parch']>0)]
print(with_family)

children_not_survived = df[(df['Age']<=15) & (df['Survived']==0)]
print(children_not_survived)

high_fare_cabins = df[(df['Cabin'].notnull()) & (df['Fare']>200)]
print(high_fare_cabins)

odd_ids = df[(df['PassengerId'])%2==1]
print(odd_ids)

unique_tickets = df[(df['Ticket'].duplicated(keep=False) == False)]
print(unique_tickets)

miss_class1 = df[(df['Name'].str.contains('Miss')) & (df['Pclass']==1)]
print(miss_class1)

     PassengerId  Survived  Pclass  \
88            89         1       1
151          152         1       1
257          258         1       1
290          291         1       1
309          310         1       1
310          311         1       1
341          342         1       1
356          357         1       1
369          370         1       1
393          394         1       1
498          499         0       1
520          521         1       1
537          538         1       1
539          540         1       1
627          628         1       1
641          642         1       1
708          709         1       1
710          711         1       1
730          731         1       1
742          743         1       1
842          843         1       1

                                                 Name     Sex   Age  SibSp  \
88                         Fortune, Miss. Mabel Helen  female  23.0      3
151                 Pears, Mrs. Thomas (Edith Wearne)  female  22.0      1
257                              Cherry, Miss. Gladys  female  30.0      0
290                      Barber, Miss. Ellen "Nellie"  female  26.0      0
309                    Francatelli, Miss. Laura Mabel  female  30.0      0
310                    Hays, Miss. Margaret Bechstein  female  24.0      0
341                    Fortune, Miss. Alice Elizabeth  female  24.0      3
356                       Bowerman, Miss. Elsie Edith  female  22.0      0
369                     Aubart, Mme. Leontine Pauline  female  24.0      0
393                            Newell, Miss. Marjorie  female  23.0      1
498   Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.0      1
520                             Perreault, Miss. Anne  female  30.0      0
537                               LeRoy, Miss. Bertha  female  30.0      0
539                Frolicher, Miss. Hedwig Margaritha  female  22.0      0
627                     Longley, Miss. Gretchen Fiske  female  21.0      0
641                              Sagesser, Mlle. Emma  female  24.0      0
708                              Cleaver, Miss. Alice  female  22.0      0
710  Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")  female  24.0      0
730                     Allen, Miss. Elisabeth Walton  female  29.0      0
742             Ryerson, Miss. Susan Parker "Suzette"  female  21.0      2
842                           Serepeca, Miss. Augusta  female  30.0      0

     Parch    Ticket      Fare            Cabin Embarked
88       2     19950  263.0000      C23 C25 C27        S
151      0    113776   66.6000               C2        S
257      0    110152   86.5000              B77        S
290      0     19877   78.8500              NaN        S
309      0  PC 17485   56.9292              E36        C
310      0     11767   83.1583              C54        C
341      2     19950  263.0000      C23 C25 C27        S
356      1    113505   55.0000              E33        S
369      0  PC 17477   69.3000              B35        C
393      0     35273  113.2750              D36        C
498      2    113781  151.5500          C22 C26        S
520      0     12749   93.5000              B73        S
537      0  PC 17761  106.4250              NaN        C
539      2     13568   49.5000              B39        C
627      0     13502   77.9583               D9        S
641      0  PC 17477   69.3000              B35        C
708      0    113781  151.5500              NaN        S
710      0  PC 17482   49.5042              C90        C
730      0     24160  211.3375               B5        S
742      2  PC 17608  262.3750  B57 B59 B63 B66        C
842      0    113798   31.0000              NaN        C
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1
215          216         1       1
258          259         1       1
268          269         1       1
269          270         1       1
297          298         0       1
299          300         1       1
305          306         1       1
306          307         1       1
307          308         1       1
311          312         1       1
318          319         1       1
319          320         1       1
325          326         1       1
332          333         0       1
334          335         1       1
337          338         1       1
341          342         1       1
373          374         0       1
377          378         0       1
380          381         1       1
390          391         1       1
393          394         1       1
435          436         1       1
438          439         0       1
498          499         0       1
505          506         0       1
527          528         0       1
537          538         1       1
544          545         0       1
550          551         1       1
557          558         0       1
581          582         1       1
609          610         1       1
659          660         0       1
660          661         1       1
679          680         1       1
689          690         1       1
698          699         0       1
700          701         1       1
708          709         1       1
716          717         1       1
730          731         1       1
737          738         1       1
742          743         1       1
763          764         1       1
779          780         1       1
802          803         1       1
856          857         1       1

                                                  Name     Sex    Age  SibSp  \
27                      Fortune, Mr. Charles Alexander    male  19.00      3
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN      1
88                          Fortune, Miss. Mabel Helen  female  23.00      3
118                           Baxter, Mr. Quigg Edmond    male  24.00      0
195                               Lurette, Miss. Elise  female  58.00      0
215                            Newell, Miss. Madeleine  female  31.00      1
258                                   Ward, Miss. Anna  female  35.00      0
268      Graham, Mrs. William Thompson (Edith Junkins)  female  58.00      0
269                             Bissette, Miss. Amelia  female  35.00      0
297                       Allison, Miss. Helen Loraine  female   2.00      1
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.00      0
305                     Allison, Master. Hudson Trevor    male   0.92      1
306                            Fleming, Miss. Margaret  female    NaN      0
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
311                         Ryerson, Miss. Emily Borie  female  18.00      2
318                           Wick, Miss. Mary Natalie  female  31.00      0
319  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  female  40.00      1
325                           Young, Miss. Marie Grice  female  36.00      0
332                          Graham, Mr. George Edward    male  38.00      0
334  Frauenthal, Mrs. Henry William (Clara Heinshei...  female    NaN      1
337                    Burns, Miss. Elizabeth Margaret  female  41.00      0
341                     Fortune, Miss. Alice Elizabeth  female  24.00      3
373                                Ringhini, Mr. Sante    male  22.00      0
377                          Widener, Mr. Harry Elkins    male  27.00      0
380                              Bidois, Miss. Rosalie  female  42.00      0
390                         Carter, Mr. William Ernest    male  36.00      1
393                             Newell, Miss. Marjorie  female  23.00      1
435                          Carter, Miss. Lucile Polk  female  14.00      1
438                                  Fortune, Mr. Mark    male  64.00      1
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.00      1
505         Penasco y Castellana, Mr. Victor de Satode    male  18.00      1
527                                 Farthing, Mr. John    male    NaN      0
537                                LeRoy, Miss. Bertha  female  30.00      0
544                         Douglas, Mr. Walter Donald    male  50.00      1
550                        Thayer, Mr. John Borland Jr    male  17.00      0
557                                Robbins, Mr. Victor    male    NaN      0
581  Thayer, Mrs. John Borland (Marian Longstreth M...  female  39.00      1
609                          Shutes, Miss. Elizabeth W  female  40.00      0
659                         Newell, Mr. Arthur Webster    male  58.00      0
660                      Frauenthal, Dr. Henry William    male  50.00      2
679                 Cardeza, Mr. Thomas Drake Martinez    male  36.00      0
689                  Madill, Miss. Georgette Alexandra  female  15.00      0
698                           Thayer, Mr. John Borland    male  49.00      1
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.00      1
708                               Cleaver, Miss. Alice  female  22.00      0
716                      Endres, Miss. Caroline Louise  female  38.00      0
730                      Allen, Miss. Elisabeth Walton  female  29.00      0
737                             Lesurer, Mr. Gustave J    male  35.00      0
742              Ryerson, Miss. Susan Parker "Suzette"  female  21.00      2
763          Carter, Mrs. William Ernest (Lucile Polk)  female  36.00      1
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.00      0
802                Carter, Master. William Thornton II    male  11.00      1
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.00      1

     Parch    Ticket      Fare            Cabin Embarked
27       2     19950  263.0000      C23 C25 C27        S
31       0  PC 17569  146.5208              B78        C
88       2     19950  263.0000      C23 C25 C27        S
118      1  PC 17558  247.5208          B58 B60        C
195      0  PC 17569  146.5208              B80        C
215      0     35273  113.2750              D36        C
258      0  PC 17755  512.3292              NaN        C
268      1  PC 17582  153.4625             C125        S
269      0  PC 17760  135.6333              C99        S
297      2    113781  151.5500          C22 C26        S
299      1  PC 17558  247.5208          B58 B60        C
305      2    113781  151.5500          C22 C26        S
306      0     17421  110.8833              NaN        C
307      0  PC 17758  108.9000              C65        C
311      2  PC 17608  262.3750  B57 B59 B63 B66        C
318      2     36928  164.8667               C7        S
319      1     16966  134.5000              E34        C
325      0  PC 17760  135.6333              C32        C
332      1  PC 17582  153.4625              C91        S
334      0  PC 17611  133.6500              NaN        S
337      0     16966  134.5000              E40        C
341      2     19950  263.0000      C23 C25 C27        S
373      0  PC 17760  135.6333              NaN        C
377      2    113503  211.5000              C82        C
380      0  PC 17757  227.5250              NaN        C
390      2    113760  120.0000          B96 B98        S
393      0     35273  113.2750              D36        C
435      2    113760  120.0000          B96 B98        S
438      4     19950  263.0000      C23 C25 C27        S
498      2    113781  151.5500          C22 C26        S
505      0  PC 17758  108.9000              C65        C
527      0  PC 17483  221.7792              C95        S
537      0  PC 17761  106.4250              NaN        C
544      0  PC 17761  106.4250              C86        C
550      2     17421  110.8833              C70        C
557      0  PC 17757  227.5250              NaN        C
581      1     17421  110.8833              C68        C
609      0  PC 17582  153.4625             C125        S
659      2     35273  113.2750              D48        C
660      0  PC 17611  133.6500              NaN        S
679      1  PC 17755  512.3292      B51 B53 B55        C
689      1     24160  211.3375               B5        S
698      1     17421  110.8833              C68        C
700      0  PC 17757  227.5250          C62 C64        C
708      0    113781  151.5500              NaN        S
716      0  PC 17757  227.5250              C45        C
730      0     24160  211.3375               B5        S
737      0  PC 17755  512.3292             B101        C
742      2  PC 17608  262.3750  B57 B59 B63 B66        C
763      2    113760  120.0000          B96 B98        S
779      1     24160  211.3375               B3        S
802      2    113760  120.0000          B96 B98        S
856      1     36928  164.8667              NaN        S
     PassengerId  Survived  Pclass  \
2              3         1       3
11            12         1       1
15            16         1       2
17            18         1       2
19            20         1       3
..           ...       ...     ...
862          863         1       1
865          866         1       2
875          876         1       3
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
2                               Heikkinen, Miss. Laina  female  26.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
17                        Williams, Mr. Charles Eugene    male   NaN      0
19                             Masselmani, Mrs. Fatima  female   NaN      0
..                                                 ...     ...   ...    ...
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch            Ticket     Fare Cabin Embarked
2        0  STON/O2. 3101282   7.9250   NaN        S
11       0            113783  26.5500  C103        S
15       0            248706  16.0000   NaN        S
17       0            244373  13.0000   NaN        S
19       0              2649   7.2250   NaN        C
..     ...               ...      ...   ...      ...
862      0             17466  25.9292   D17        S
865      0            236852  13.0000   NaN        S
875      0              2667   7.2250   NaN        C
887      0            112053  30.0000   B42        S
889      0            111369  30.0000  C148        C

[163 rows x 12 columns]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
...,...,...,...,...,...,...,...,...,...,...,...,...
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
789,790,0,1,"Guggenheim, Mr. Benjamin",male,46.0,0,0,PC 17593,79.2000,B82 B84,C
835,836,1,1,"Compton, Miss. Sara Rebecca",female,39.0,1,1,PC 17756,83.1583,E49,C
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C