1. Sort a Dictionary by Value

In [3]:
age = {
    "Akmal":17,
    "Aziz":20,
    "Samir":14,
    "Asad":22
}
ascending = dict(sorted(age.items(),key=lambda item: item[1]))
print("Ascending:",ascending)
descending = dict(sorted(age.items(),key=lambda item: item[1],reverse=  True))
print("Descending:",descending)

Ascending: {'Samir': 14, 'Akmal': 17, 'Aziz': 20, 'Asad': 22}
Descending: {'Asad': 22, 'Aziz': 20, 'Akmal': 17, 'Samir': 14}

2. Add a Key to a Dictionary

In [5]:
d = {0: 10, 1: 20}
d[2]=30
print(d)

{0: 10, 1: 20, 2: 30}

3. Concatenate Multiple Dictionaries

In [7]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

dic = {**dic1,**dic2,**dic3}
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

4. Generate a Dictionary with Squares

In [8]:
n = int(input("Enter the value of n:"))
square = {x:x*x for x in range(1,n+1)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

5. Dictionary of Squares (1 to 15)

In [9]:
n = int(input("Enter the value of n:"))
square = {x:x*x for x in range(1,n+1)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

1. Create a Set

In [10]:
fruits = {"apple","banana","orange"}
print(fruits)

{'apple', 'banana', 'orange'}

2. Iterate Over a Set

In [11]:
fruits = {"apple", "banana", "cherry", "mango"}
for fruit in fruits:
    print(fruit)

apple
banana
mango
cherry

3. Add Member(s) to a Set

In [17]:
num = {1,2,3}
num.update({4,5})
print(num)

{1, 2, 3, 4, 5}

4. Remove Item(s) from a Set

In [15]:
num = {1,2,3,4,5}
num.remove(5)
print(num)

{1, 2, 3, 4}

5. Remove an Item if Present in the Set

In [19]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
fruits.discard("pear")
print(fruits)

{'apple', 'cherry'}